//Grid Styles
/*Grid Styles */
#product-grid {
    .featured-item {
        @include span-columns(6);
        border: solid;
        height: 600px;
    }
    .list-products {
      @include span-columns(6);
        ul {
            li.block {
                @include span-columns(4);
                @include omega(3n);
                margin-bottom: 45px;
                border:solid;
                height: 170px;
            }
        }
    }
}
